*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{ 
    font-family: 'Inter', sans-serif;
    color: #000;
}

.page-header{
    background: #000;
    display: flex;
    justify-content: center;
    padding: 28px 0;
}
.header-logo{
    display: block;
}
.main-banner {
    width: 100%;
}

.top-infocard{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.top-infocard-text{
    max-width: 766px;
    
}

.top-infocard-subtitle{
    margin-bottom: -30px;
    font-weight: 400;
    font-size: 32px;
    line-height: 80px;
    text-transform: uppercase;
    color: #000000;  
}

.top-infocard-title{
margin-bottom: 24;
text-transform: uppercase;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 80px;
color: #000000;
}

.top-infocar-description{
    margin-bottom: 65px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #000000;
}

.computador{
    display: flex;
    justify-content: center;
}

.top-cards{
    display: grid;
    grid-template-columns: repeat(3, max-content) ;
    justify-content: center;
    padding: 74px 0;
    gap: 20px;
    
}

.top-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 26px 34px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image{
    display: block;
    margin-bottom: 26px;
}

.top-card-description{
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.midles-banners{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 20px;
    justify-content: center;
    

}

.midles-banner{
    display: block;

}

.midle-cards{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 143px 0;
    padding: 26px 26px 35px;
  
  }
  
  .midle-card{
    display: block;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    
  }

 .midle-card-image{
     margin-bottom: 26px;
     

 }

 .midle-card-description {
    font-family: 'Inter', sans-serif;
    max-width: 300px;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
 }

 



 .segundo-infocard-title{
    margin-bottom: 24;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 80px;
    color: #000000;
    text-align: center;

 }

 .segundo-infocard-description{
     display: flex;
     justify-content: center;
     margin-bottom: 24px;
     width: 550px;
     height: 120px;
     font-family: 'Inter';
     font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
  
 }

 .banner-rodape{
    display:block;
    width: 1360px;
    height: 276px;
    left: 259px;
    top: 3370px;
 }




@media screen and (max-width:414px){
    .main-banner-desktop{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .top-cards{
        grid-template-columns: 1fr;
        padding: 36px 26px;
    }
}


@media  screnn and (max-width: 768px) {
    .top-infocard{
        flex-direction: column;
        padding: 84px 30px 159px;
    }

    .top-infocard-text{
        margin: 0 0 68px;
    }

    .top-infocard-subtitle{
        font-size: 20px;
    }
   
    .top-infocard-title{
        margin-bottom: 20px;
        font-size: 28px;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .top-cards{
        grid-template-columns: repeat (2, max-content);
        padding: 36px 26px;
    }
}

@media screen and (min-width:415px){
    .main-banner-mobile{
        display: none;  
    }
}
